.book-section {
    background-image: linear-gradient(#161212b5, #161212b5), url(/assets/img/book-wallpaper.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    
}

.book-container {
    background: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    width: 700px;
    height: 350px;
}

.logo-header-service img {
    width: 80px;
}

.service-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    align-items: center;
    text-align: center;
    height: 345px;
    margin: 40px;
}

.service-wrapper img {
    width: 130px;
    padding: 20px;
    border-radius: 50%;
}