<div class="book-section">
    <div  style="height:100%" class="d-flex justify-content-around align-items-center">
      <div style="text-align: right">
        <h2 style="color: #d19f68">Booking</h2>
        <div class="logo-header-service">
          <img src="/assets/img/mustache-logo.png" alt="" />
        </div>
        <p style="color: white;width: 700px;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat totam
          qui, maxime animi facilis voluptatibus earum cumque iure nostrum aliquid
          provident et recusandae vero cum quas dolore doloremque dignissimos! Placeat totam
          qui, maxime animi facilis voluptatibus earum cumque iure nostrum aliquid
          provident et recusandae vero cum quas dolore doloremque dignissimos!
        </p>
      </div>
      <div class="book-container"></div>
    </div>
  </div>
  