<nav class="nav">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            ELEVAT
        </div>
        <div class="sections d-flex">
            <div class="section">Experience</div>
            <div class="section">Price</div>
            <div class="section">Book</div>
            <div class="section">Shop</div>
            <div class="section">Contact</div>
        </div>
        <div class="account">
            <div>Alex Drapac</div> 
            <div>Go to profile</div> 
        </div>
    </div>
</nav>