<nav [class.bg-nav-mobile]="check" class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" style="font-size: 30px;color: white;" href="#">LOGO</a>
      <button id="nav-icon1" [class.open]="check" (click)="toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarNav">
        <ul style="transition: .5s all;" [class.margin-ul]="check" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="goToAdmin()">Admin</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sign-in-buttons">
      <a class="login-btn" (click)="goToAuth()">Authentication</a>
    </div>
  </nav>