<div class="container">
    <div class="header-area">
        <h2 style="color: #d19f68;">Our Team</h2>
        <div class="logo-header-service">
            <img src="/assets/img/mustache-logo.png" alt=""/> 
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat totam qui, maxime animi facilis voluptatibus earum cumque iure nostrum aliquid provident et recusandae vero cum quas dolore doloremque dignissimos!</p>
    </div> 
  <div class="row mt-5">
    <div class="col-lg-4">
        <img src="/assets/img/team-1.jpg" alt="">
    </div>
    <div class="col-lg-4">
        <img src="/assets/img/team-1.jpg" alt="">
    </div>
    <div class="col-lg-4">
        <img src="/assets/img/team-1.jpg" alt="">
    </div>
  </div>
</div>