<div class="hero-page">
    <div class="container">
      <div class="text-area">
        <h3>Keep Your</h3>
        <h1>Perfect look</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae natus modi laboriosam
          praesentium id, atque debitis nemo. Quos voluptatibus optio quisquam, quasi iusto, expedita, doloremque tenetur
          adipisci consequatur voluptate dolor laboriosam modi! Nam libero, tenetur sit obcaecati voluptatem ducimus.</p>
      </div>
    </div>
  </div>