<div class="about-section">
    <div class="container">
      <div class="row">
        <div style="text-align: center;" class="col-lg-6">
          <h5>Hair Saloon</h5>
          <h2>The Barber Shop</h2>
          <h2>Placeholder</h2>
          <img style="width: 300px;margin-top: 20px;margin-bottom: 20px;" src="/assets/img/logo-about.png" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima qui veniam corporis sapiente adipisci id
            provident, itaque sint porro odio esse numquam asperiores neque corrupti quam ut! Debitis, magnam libero!</p>
        </div>
        <div style="text-align: center;" class="col-lg-6">
          <div class="about-photos">
            <img class="firstPhoto" src="/assets/img/Barber-About-1.jpg" alt="1">
            <img class="secondPhoto" src="/assets/img/Barber-About-2.jpg" alt="2">
            <img class="thirdPhoto" src="/assets/img/Barber-About-3.jpg" alt="3">
          </div>
        </div>
      </div>
    </div>
  </div>